<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>db</title>
</head>
<body>
<form action="/dbapp/login/" method="post">
    <p>
        <input type="text" name="user" placeholder="用户名"/>
    </p>
    <p>
        <input type="password" name="pwd" placeholder="密码"/>
    </p>
    <input type="submit"/>
</form>
<div>
    {% if state == 1 %}
    <span>{{ name }}登录成功</span>
    {% elif state == 2 %}
    <span>{{ name }}注册成功</span>
    {% elif state == 3 %}
    <span>{{ name }}登录密码错误</span>
    {% else %}
        <span>{{ name }}注册失败</span>
    {% endif %}


</div>

</body>
</html>